<div class="card card-block">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover" id="saved-activity-table">
                <thead>
                <tr>
                    <td>Activity</td>
                    <td>Start time</td>
                    <td>Finish time</td>
                    <td>Duration</td>
                    <td>Notes</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in recordTableCtrl.getRecords() track by $index" id="saved-activity-{{$index}}-row">
                    <td id="saved-activity-{{$index}}-activity-type">{{record.activity }}</td>
                    <td id="saved-activity-{{$index}}-start-time">{{record.startTime | amDateFormat:'L LTS'}}</td>
                    <td id="saved-activity-{{$index}}-end-time">{{record.endTime | amDateFormat:'L LTS'}}</td>
                    <td id="saved-activity-{{$index}}-duration">{{record.duration | amDateFormat:'HH:mm:ss'}}</td>
                    <td id="saved-activity-{{$index}}-notes">{{record.notes}}</td>
                </tr>
                <tr ng-if="recordTableCtrl.getRecords().length === 0">
                    <td colspan="5" class="text-xs-center" id="saved-activity-table-empty">
                        No Records
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>