<div class="card card-block">
    <div class="row">
        <div class="col col-xs-12 text-xs-center">
            <span>
                <button class="btn btn-primary btn-lg" ng-click="timerCtrl.start()" ng-if="!timerCtrl.isTiming">
                    Start
                </button>
            </span>
            <span>
                <button class="btn btn-primary btn-lg" ng-click="timerCtrl.stop()" ng-if="timerCtrl.isTiming">
                    Stop
                </button>
            </span>
            <span class="align-middle" style="font-size: x-large">
                <timer interval="1000" autostart="false">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
            </span>
        </div>
    </div>
</div>